.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
}

.img_estra_logo{
  width: 10vw;
}

.menu_list{
  font-size: 1.3vw;
  font-family: Helvetica, "游ゴシック", sans-serif;
  color: #a9a9a9;

}

.menu_item{
  display: inline-block;
  list-style: none;
  margin-left: 2vw;
}

/*ここからtitleセクション*/
.title{
  width: 100%;
  height: 40vw;
  position: relative;
  color:#c70067;
  background-color: #fff;
}

.title_img{
  width: 60%;
  position: absolute;
  left: 40%;
}

.title_text{
  position: absolute;
  top: 10%;
  left: 22%;
  font-size: 3.2vw;
  font-family: cursive, "游ゴシック", sans-serif;
}

.title_emphasis{
  color:#00a1e9;
}

.title_jp{
  position: absolute;
  top: 50%;
  left: 22%;
  font-size: 1.3vw;
  font-weight: bold;
}

.title_small{
  position: absolute;
  top: 60%;
  left: 22%;
  color: #a9a9a9;
  font-size: 0.8vw;
}

/*ここからニュースセクション*/
.news{
  width: 100%;
  margin-bottom: 10vw;
  background-color: #fff;
}

.index{
  position: relative;
  width: 100%;
  height: 10vw;
}

.index_en{
  position: absolute;
    top: 50%;
    left: 26%;
  color:#c70067;
  font-size: 0.8vw;
  font-family: cursive, "游ゴシック", sans-serif;
}

.index_jp{
  position: absolute;
    top: 60%;
    left: 26%;
  color: #808080;
  font-size: 1.3vw;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-weight: bold;
}

.news_all{
  width: 42vw;
  margin-left: 25vw;
  padding: 0;
  color: #808080;
  font-size: 1vw;
  font-family: Helvetica, "游ゴシック", sans-serif;
  border-top: #a9a9a9 solid 0.5px;
  border-bottom: #a9a9a9 solid 0.5px;
}

.news_list{
  list-style: none;
  margin: 3vw 0vw;
  padding-bottom: 1.5vw;
  width: 42vw;
  border-bottom: #a9a9a9 solid 1px;
}

.news_emphasis{
  margin-left: 3vw;
  margin-right: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 6px;
  text-align: center;
  background: #c70067;
  color: #fff;
}

/*ここからAboutセクション*/
.about{
  width: 100%;
  margin-bottom: 10vw;
  background-color: #fff;
}

.index_en_center {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.index_jp_center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_contents{
  display: flex;
  justify-content: space-around;

}

.about_text{
  width: 25%;
  color: #808080;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.0vw;
}

.about_img{
  width: 25%;
}

/*ここからServiceセクション*/
.index_en_service {
  position: absolute;
  left: 20%;
}

.index_jp_service {
  position: absolute;
  left: 20%;
}

.service{
  width: 100%;
  margin-bottom: 10vw;
  background-color: #fff;
}

.grid{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 40%;
  margin-left: 20%;
}

.box1{
  display:block;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/3;
  background: #b2005c;
  color: #fff;
  font-size: 1.5vw;
}

.box2{
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  background: #b7548e;
  color: #fff;
  font-size: 1.5vw;
}

.box3 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  background: #bf8f98;
  color: #fff;
  font-size: 1.5vw;
}

.service_img{
  width: 35%;
  margin-top: 2vw;
}

.service_title{
  position: absolute;
  top: 25%;
  left: 35%;
}

.service_text_first{
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.0vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.service_text_second{
  position: absolute;
  top: 40%;
  left: 35%;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.0vw;
  margin-right: 2vw;
}

/*ここからblogセクション*/
.blog {
  width: 100%;
  margin-bottom: 10vw;
  background-color: #fff;
}

.index_en_blog {
  position: absolute;
  left: 18%;
}

.index_jp_blog {
  position: absolute;
  left: 18%;
}

.blog_contents{
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding-left: 18%;
}

.blog_card{
  width: 25%;
  position: relative;
}

.blog_img{
  width: 100%;
  border-radius: 6px;
}

.blog_emphasis{
  position: absolute;
  top: 0%;
  left:0%;
  padding: 0.3vw 0.4vw;
  margin: 0;
  border-top-left-radius: 6px;
  text-align: center;
  background: #c70067;
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.0vw;
}

.blog_text{
  color: #808080;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.0vw;
  padding: 1vw 0vw;
}

.blog_date{
  display: inline-block;
}

.blog_tag{
  display: inline-block;
  padding-left: 24%;
}

.blog_button{
  margin: 4vw 40vw;
  padding:0.5vw 0vw;
  border-radius: 2vw;
  text-align: center;
  border: #c70067 solid 0.1vw;
  color: #c70067;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1.3vw;
}

/*ここからCompanyセクション*/
.company {
  width: 100%;
  margin-bottom: 10vw;
  background-color: #fff;
}

.index_en_company {
  position: absolute;
  left: 20%;
}

.index_jp_company {
  position: absolute;
  left: 20%;
}

.company_table{
  width: 50vw;
  color: #808080;
  font-family: Helvetica, "游ゴシック", sans-serif;
  margin: 3vw 25vw;
  border-top: #808080 solid 1px;
}

.table_title {
  width: 10vw;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 1.3vw 3vw 1.3vw 3vw;
  border-bottom: #808080 solid 0.5px;
}

.table_contents{
  width: 40vw;
  padding: 1.3vw 3vw 1.3vw 3vw;
  border-bottom: #808080 solid 0.5px;
}

.company_detail{
  width: 100%;
  position: relative;
}

.company_img_recruit{
  width: 50%;
  float: left;
}

.company_img_interview{
  width: 50%;
}

.company_text_recruit{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

.company_text_interview {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -75%);
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

/*ここからcontactセクション*/
.question{
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.question_text{
  color: #808080;
  font-weight: bold;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1vw;
}

.textarea{
  display: block;
  resize: none;
  width: 30vw;
  height: 3vw;
  margin-left: 35vw;
  margin-bottom: 3vw;
  border: none
}

.submit{
  display: block;
  margin-left: 42vw;
  padding: 1vw 4vw;
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
  font-size: 1vw;
  background: linear-gradient(90deg, #b7548e, #c70067);
  box-shadow: 0vw 0.3vw 0px rgb(150, 122, 122);
  border-radius: 3vw;
  border:0;
}

.footer{
  color: #a9a9a9;
  font-size: 0.8vw;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-color: #fff;
}